{% load staticfiles %}
<html >
    <head>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta charset="UTF-8">
        <title>Merixsudio blog</title>
    </head>
    <body class="body">
            <div class = "image"></div>
            <div class="page-header">
                <h1> MERIXSTUDIO</h1>
                <div class = "menu">
                    <a href="{% url 'post_list' %}">  Blog</a><h6>  </h6>
                    <a href="{% url 'article_list' %}">  Articles  </a>
                </div>
                <h4><a href="{% url 'home' %}">Back to home<a></h4>

            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>

            </div>
    </body>
</html>